<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.css">
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/">
                Accueil
            </a>
            <a class="navbar-item" routerLink="contacts">
                Mes contacts
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" *ngIf="!isAuth" routerLink="auth/signup">
                        <strong>S'inscire</strong>
                    </a>
                    <a class="button is-light" *ngIf="!isAuth" routerLink="auth/signin">
                        Se connecter
                    </a>
                    <a class="button is-danger" (click)="onSignOut()" style="cursor:pointer" *ngIf="isAuth">
                        Déconnexion
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>