<div class="columns">
    <div class="column is-12">
        <div class="field">
            <button class="btn btn-primary" style="float: right !important;" (click)="onNewContact()">Nouveau
                contact</button>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column is-12">
        <table class="table is-bordered is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>Nom complet</th>
                    <th>Addresse email</th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contacts; let i = index" (click)="onViewContact(i)">
                    <th style="cursor:pointer;">{{ contact.name }}</th>
                    <td>{{ contact.mail }}</td>
                    <td class="is-centered">
                        <button class="button is-danger" (click)="onDeleteContact(contact)">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>