<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

    <section class="hero">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item has-text-weight-semibold nav-bar-menu-bg-color" href="#">
                            <p class="is-size-4">Bennani <i class="fas fa-heart heart-pink"></i> Mohamed</p>
                        </a>
                        <span class="navbar-burger burger nav-bar-burger-color" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu nav-bar-menu-bg-color">
                        <div class="navbar-end">

                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>

    <section class="section is-medium">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column has-text-centered">
                    <h1 class="title">404 Page Not Found</h1>
                    <p class="subtitle">An unexpected error has occurred. Please contact the site owner.</p>
                </div>
                <div class="column has-text-centered">
                    <img
                        src="https://www.eastfieldcollege.edu/PublishingImages/Pages/PageNotFoundError/404-robot.gif" />
                </div>
            </div>
        </div>
    </section>

    <footer class="footer is-large">
        <div class="container">
            <div class="content has-text-centered">
                <div class="control level-item">
                    <a href="https://bulma.io">
                        <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128"
                            height="24">
                    </a>
                </div>
                <p class="is-size-7">Copyright &copy; 2019</p>
                <div class="control level-item">
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
                        data-size="large" data-text="Wow what a rad website, go check it out:"
                        data-related="freddie2025" data-show-count="true">Tweet</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>