<div class="column">
    <div class="columns is-centered" style=" margin-top: 70px; margin-bottom: 40px;">
        <h1 class="title">Enregistrer un nouveau contact</h1>
    </div>
    <div class="columns is-centered ">
        <div class="column is-8 has-background-light" style="border-radius: 10px;">
            <form [formGroup]="contactForm" (ngSubmit)="onSaveContact()">
                <div class="field">
                    <label for="name" class="label">Nom</label>
                    <div class="control has-icons-left">
                        <input type="text" id="name" formControlName="name" placeholder="Nom" class="input" required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="mail" class="label">Adresse email</label>
                    <div class="control has-icons-left">
                        <input type="email" id="mail" formControlName="mail" placeholder="Adresse email" class="input"
                            required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <button class="button is-danger" (click)="onBack()" style="margin-right: 5px;">
                        Retour
                    </button>
                    <button class="button is-success" [disabled]="contactForm.invalid">
                        Enregistrer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>